** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ocultar el scroll horizontal */
body {
    overflow-x: hidden;
}

.HeaderContainer {
    position: relative;
    width: 100%;
    height: auto;
}

.HeaderImage {
    width: 100%;
    height: auto;
    margin-top: 5.5rem;
}

.HeaderContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    /* Ajusta la altura según necesites */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* Ajusta los colores del degradado según el fondo de tu página */
    pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

p,
span,
a,
li {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

li,
ul,
ol {
    list-style-type: none;
    /* Quita los puntos */
    padding-left: 0;
}

/* Diseño del Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar .logo img {
    width: 55px;
}

.navbar .nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin: 0 1rem;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin: 0 1rem;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    top: 100%;
    left: 0;
}

.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navbar .nav-links li:hover .dropdown-content {
    display: block;
}

/* Estilo del botón */
.cssbuttons {
    margin: 4px;
    border: #0b2714 solid 1px;
    border-radius: 6px;

}

/* Estilo del botón */
.cssbuttons {
    margin: 4px;
    border: #31A252 solid 1px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    color: #31A252;
    border: 2px solid #31A252;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.cssbuttons::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #31A252;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    color: #f1f1f1;
}

.cssbuttons:hover::before {
    scale: 3;
}

.cssbuttons:hover {
    color: white;
    box-shadow: 0 0px 20px #31A252;
}

.cssbuttons:active {
    scale: 1;
}

.dropdown-item:hover {
    color: #31A252;
    /* padding: 2px; */
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #003a71;
    /* Color institucional de SENA */
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.hero {
    background: #31a253af;
    /* Color institucional de SENA */
    color: #fff;
    padding: 50px 0;
}

.hero h1 {
    font-size: 36px;
}

.hero h2 {
    font-size: 24px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-primary {
    background: #ffcc00;
    /* Color del botón */
    color: #003a71;
    /* Color del texto del botón */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.about,
.services,
.testimonials,
.call-to-action,
.contact {
    padding: 40px 0;
    text-align: center;
}

.about img {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
}

.services {
    background: #f4f4f4;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fondoo {
    background: rgba(255, 255, 255, 0.2);
    /* Fondo blanco semitransparente */
    border-radius: 10px;
    /* Bordes redondeados */
    /* Ajusta el tamaño según necesites */
    backdrop-filter: blur(10px);
    /* Desenfoque de fondo */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    text-align: center;
    color: #fff;
    /* Color del texto */
}



/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #31A252;
    /* Color institucional de SENA */
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.boton:hover {
    background: green;
    color: #fff;
}

.hero {
    background: #31a253c9;
    /* Color institucional de SENA */
    color: #fff;
    padding: 50px 0;
}

.hero h1 {
    font-size: 36px;
}

.hero h2 {
    font-size: 24px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.Imagenn {
    border-radius: 5px;
}

.btn-primary {
    background: #fff;
    /* Color del botón */
    color: #31A252;
    /* Color del texto del botón */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}


.about,
.services,
.testimonials,
.call-to-action,
.contact {
    padding: 40px 0;
    text-align: center;
}

.about img {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
}

.services {
    background: #f4f4f4;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las tarjetas de testimonios */
.testimonio-card {
    border: none;
    /* Sin borde para un estilo más limpio */
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    /* Color de fondo sutil */
    padding: 1.5rem;
}

.card-img-top {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 3px solid #31A252;
    /* Borde color principal */
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.text-muted {
    color: #6c757d;
    font-style: italic;
}

@media (min-width: 576px) {
    .testimonio-card {
        margin: 10px;
    }
}

@media (max-width: 575.98px) {
    .testimonio-card {
        margin-bottom: 20px;
    }
}

.call-to-action {
    background: #fff;
    /* Color institucional de SENA */
    color: #fff;
}

.call-to-action h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.call-to-action p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form label {
    margin-bottom: 5px;
}

.contact form input,
.contact form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.contact form .btn-primary {
    background: rgba(0, 128, 0, 0.655);
    /* Color del botón */
    color: white;
    /* Color del texto del botón */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: rgb(0, 128, 0) 1px solid;
}


.btn-primary:hover {
    background: green;
    /* Color del botón */
    color: white;
    /* Color del texto del botón */
    border: white solid 2px;
}

.contact {
    position: relative;
    /* Asegura que el elemento tenga un contexto de apilamiento adecuado */
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Puedes ajustar esto según tu diseño */
    color: #000;
    /* Esto hace que el texto sea blanco para mayor legibilidad */
    z-index: 1;
    overflow: hidden;
    background-color: #ddd;
}

.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/fondooo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    /* Ajusta este valor para cambiar la opacidad de la imagen */
    z-index: -1;
    /* Asegura que la imagen esté detrás del contenido */
}

/* Footer */
.text-white {
    margin: 2px;
}

.imgFoote {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #f8f9fa9c;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    border-top: 5px green solid;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer .col {
    flex: 1;
    text-align: center;
}

.footer .social-icons a {
    color: #6c757d;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer .social-icons a:hover {
    color: green;
    border-radius: 20px;
}

.face:hover {
    color: green;
    font-size: 20px;
    border-bottom: green solid 2px;
}

.formFooter {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    text-align: center;
}

.form-control {
    border-radius: 10px;
    padding: 2px;
    margin: 3px;
    border: green solid 2px;
}

.suscribirse {
    font-family: "Poppins", sans-serif;
    border: rgba(30, 228, 63, 0.918) solid 1px;
    background-color: green;
    color: #f8f9fa;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.suscribirse:hover {
    border: #000 solid 2px;
    background-color: rgba(0, 128, 0, 0.842);
    color: #f1f1f1;
}

.footerss {
    background-color: rgba(28, 197, 28, 0.548);
    margin-top: 10px;
}

.text-with-border {
    color: rgba(255, 255, 255, 0.705);
    /* Color del texto */
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    /* Sombras para simular un borde */
}

.fa-map-marker-alt {
    color: red;
}

.fa-phone-alt {
    color: #12B1D1;
}


/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px;
}

/* Estilo para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Estilo para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #31A252;
    border-radius: 5px;
}


.form_main {
    width: 300px;
    /* Aumentado desde 220px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 40px 40px 40px 40px;
    /* Aumentado desde 30px */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
    margin-top: 9rem;
    margin-left: 2rem;
}

.form_main::before {
    position: absolute;
    content: "";
    width: 350px;
    /* Aumentado desde 300px */
    height: 350px;
    /* Aumentado desde 300px */
    background-color: rgb(209, 193, 255);
    transform: rotate(45deg);
    left: -210px;
    /* Ajustado desde -180px */
    bottom: 40px;
    /* Ajustado desde 30px */
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
    font-size: 2.2em;
    /* Aumentado desde 2em */
    color: #2e2e2e;
    font-weight: 700;
    margin: 10px 0 15px 0;
    /* Ajustado desde 5px 0 10px 0 */
    z-index: 2;
}

.inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.inputIcon {
    position: absolute;
    left: 10px;
    /* Ajustado desde 3px */
}

.inputField {
    width: 100%;
    height: 35px;
    /* Aumentado desde 30px */
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 15px 0;
    /* Ajustado desde 10px 0 */
    color: black;
    font-size: 1em;
    /* Aumentado desde .8em */
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 40px;
    /* Ajustado desde 30px */
}

.btn {
    background-color: green;
}

.textBotton {
    font-weight: bold;
}

.inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1.1em;
    /* Aumentado desde 1em */
    font-weight: 500;
}

#button {
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    background-color: green;
    height: 40px;
    /* Aumentado desde 30px */
    color: white;
    font-size: .9em;
    /* Aumentado desde .8em */
    font-weight: 500;
    letter-spacing: 1px;
    margin: 15px;
    /* Ajustado desde 10px */
    cursor: pointer;
    border-radius: 20px;
}

#button:hover {
    background-color: #fff;
    color: #31A252;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #31A252;
}

.forgotLink {
    z-index: 2;
    font-size: .8em;
    /* Aumentado desde .7em */
    font-weight: 500;
    color: rgb(44, 24, 128);
    text-decoration: none;
    padding: 10px 20px;
    /* Ajustado desde 8px 15px */
    border-radius: 20px;
}

@media (max-width: 576px) {
    .image-container img {
        opacity: 0.75;
        /* Cambia la opacidad aquí si es necesario */
    }
}

.titulo {
    margin-top: 8rem;
}

.font {
    font-size: 40px;
}

.service-card {
    transition: height 0.3s ease;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.card-header i {
    margin-right: 10px;
    background-color: rgba(128, 128, 128, 0.197);
    color: green;
    border-radius: 50%;
    padding: 10px 10px;

}

.card-content {
    margin-top: 10px;
    display: none;
}

.card-content p {
    font-size: 16px;
}

.card button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f0f7f4;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.card button:hover {
    background-color: rgba(0, 128, 0, 0.54);
    color: white;
    font-weight: bold;
}

.borde {
    border: #31a2539e 2px solid;
}


.imagen {
    margin-top: 8rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    /* Hace que la imagen sea responsiva */
}
.blurred-edges {
    position: relative;
}

.blurred-edges::before {
    content: '';
    position: absolute;
    top: -10px;
    /* Ajusta según el tamaño del difuminado */
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.3));
    filter: blur(10px);
    /* Ajusta la cantidad de difuminado */
    border-radius: inherit;
}
.blurred-edges {
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5); /* Difuminado suave alrededor */
    border-radius: 10px; /* Opcional, para bordes redondeados */
}
.blurred-edges {
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5);
    /* Difuminado suave alrededor */
    border-radius: 10px;
    /* Opcional, para bordes redondeados */
}